/**
 * 页脚样式
 */

.footer-wrapper {
}

.footer-wrapper .footer a {
  font-size: 16px;
  color: #6584ee;
}

.footer-wrapper .footer a:hover {
  color: #db54ea;
}

.footer-wrapper .copyright {
  font-size: 16px;
  color: #db54ea;
}