/**
* 网站介绍
*/

.about_this_1 {
    font-family: "华文楷体";
    width: 100px;
    margin: 10px auto;
    padding: 20px;
    background: lightblue;
    font-size: 28px;
    color: green;
    text-align: center;
    border: 1px solid #CCCCCC;
    box-shadow: 3px 3px 6px #999999;
    writing-mode: vertical-rl;
}

.about_this_2 {
    
}

