/**
* 网站介绍
*/

.about_this_1 {
    font-family: "华文彩云";
    font-size: 28px;
    font-weight: bolder;
    -webkit-text-stroke: 1px #0000FF;
    -webkit-text-fill-color: transparent;
}

.about_this_2 {
    
}

